* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    top: 0;
    left: 0;
    right: 0;
    gap: 2rem;
    color: white;
    display: flex;
    position: fixed;
    padding: 0 1rem;
    align-items: center;
    backdrop-filter: blur(4px);
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 90%);
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.navButtons {
    gap: 3rem;
    display: flex;
    flex-direction: row;
}

.navButtons li {
    list-style: none;
}
